.Experience {
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: center;
}

.Experience-left {
    flex-grow: 2;
    background: #dd22a1;
    display: flex;
    flex-direction: column;
    justify-content: center;

    height: 100vh;
    width: 100%;
}

.Experience-header {
    font-size: calc(10px + 6vmin);
    font-family: 'Segoe Print', serif;
    font-weight: bold;
}

.Experience-right {
    flex-grow: 1;
    /*height: 200vh;*/
    width: 100%;
    /*background: #fffccf;*/
}


.Project-container {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-evenly;
    text-align: left;

}

.Project-item {
    width: 70%;
    border-radius: 5px;
    background-color: #272A32;
    margin-bottom: 20px;
    display: flex;
    flex-direction: row;
    /*align-items: flex-start;*/
    flex-wrap: nowrap;
    align-items: center;
    /*margin-left: 20px;*/
    /*margin-right: 20px;*/
}

.Project-image-container {
    width: calc(90px + 9vmin);
}

.Project-image {
    width: calc(10px + 9vmin);
    height: calc(10px + 9vmin);
    /*margin-right: 20px;*/
}

.Project-body {

    align-items: flex-start;
    text-align: left;
}




@media only screen and (min-width: 975px) {
    .Experience {
        flex-direction: row;
    }
    .Experience-left {
        position: -webkit-sticky;
        position: sticky;
        top: 0;
    }
}


