.Experience {
    display: flex;
    flex-direction: row;
    justify-content: center;
    text-align: center;
}

.Experience-left {
    flex-grow: 2;
    background: #dd22a1;
    display: flex;
    flex-direction: column;
    justify-content: center;

    height: 100vh;
    width: 100%;
    /*width: 300px;*/

    position: -webkit-sticky;
    position: sticky;
    top: 0;
}

.Experience-header {
    color: white;
    /*width: 100vw;*/
    /*height: 100vh;*/
    font-size: calc(6px + 2vmin);
    font-family: 'Segoe Print', serif;
    font-weight: bold;
}

.Experience-right {
    flex-grow: 1;
    height: 200vh;
    width: 100%;
    /*background: #fffccf;*/
}


