@import '../base/colors';

html {
	font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen, Ubuntu, Cantarell, Fira Sans, Droid Sans,
		Helvetica Neue, sans-serif;
	background: $color-grey-dark;
	scroll-behavior: smooth;
}
