@import "../colors";

.blog-title {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: flex-start;

  &__left {
    margin-right: 32px;
  }

  &__heading {
    color: $color-white;
    text-decoration: none;
  }
  margin-bottom: 24px;
}
