@import "../colors";

.blog-post {
  max-width: 824px;
  margin-top: 40px;
  padding: 0 24px;

  p {
    font-size: 20px;
  }

  &__heading {
    color: $color-blue;

    &--white {
      color: $color-white;
      text-decoration: none;
    }
  }
}
