.blog-post {
  max-width: 824px;
  margin-top: 40px;
  padding: 0 24px;

  p, li, ul {
    font-size: 20px;
  }

  h2, h3, h4 {
    margin-top: 42px;
    color: $color-primary-500;
  }

  &__heading {
    color: $color-primary-500;

    &--white {
      color: $color-white;
      text-decoration: none;
    }
  }

  &__back {
    font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen,
    Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
  }
}
