$color-white: #f3f3f3;
$color-white-dark: whitesmoke;
$color-white-darkest: #e0e0e0;

$color-grey-lightest: #353c3e;
$color-grey-light: #2b2e36;
$color-grey-dark: #1b1e25;
$color-grey-darkest: #131417;

$color-black: #000000;

$color-primary-100: #bdefff;
$color-primary-200: #a8e9ff;
$color-primary-300: #92e4ff;
$color-primary-400: #7cdeff;
$color-primary-500: #67daff;
$color-primary-600: #33ccff;
$color-primary-700: #00bfff;
$color-primary-800: #4aa1bd;
$color-primary-900: #0099cc;
$color-primary-1000: #007399;

$color-secondary-100: #ffbdef;
$color-secondary-200: #ffa8e9;
$color-secondary-300: #ff92e4;
$color-secondary-400: #ff7cde;
$color-secondary-500: #ff66d9;
$color-secondary-600: #ff33cc;
$color-secondary-700: #ff00bf;
$color-secondary-800: #cc0099;
$color-secondary-900: #990073;
$color-secondary-1000: #66004c;
