$breakpoint-mobile: 600px !default;

@mixin remove-list-style() {
	list-style-type: none;
	padding: 0;
	margin: 0;
}

@mixin icon-size($size) {
	width: $size;
	height: $size;
}

@mixin dark-scrollbar() {
	overflow-y: auto;

	&::-webkit-scrollbar {
		width: 12px;
	}

	&::-webkit-scrollbar-track {
		-webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
		border-radius: 10px;
	}

	&::-webkit-scrollbar-thumb {
		border-radius: 10px;
		-webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.5);
	}
}

@mixin box-shadow-card-dark {
	box-shadow: 0 0 5px rgba(0, 0, 0, 0.34);
}

@mixin box-shadow-card-light {
	box-shadow: 0 2.8px 2.2px rgba(0, 0, 0, 0.034), 0 6.7px 5.3px rgba(0, 0, 0, 0.048),
		0 12.5px 10px rgba(0, 0, 0, 0.06), 0 22.3px 17.9px rgba(0, 0, 0, 0.072), 0 41.8px 33.4px rgba(0, 0, 0, 0.086),
		0 100px 80px rgba(0, 0, 0, 0.12);
}

@mixin card {
	@include box-shadow-card-light();
	border: 1px $color-grey-lightest solid;
	border-radius: 5px;
}

@mixin card-hover-effect() {
	background-color: $color-grey-light;
	box-sizing: border-box;

	&:hover {
		//background: radial-gradient(at var(--mouse-x) var(--mouse-y), $color-blue-dark, $color-grey-light);

		cursor: pointer;
		@keyframes hover-animation {
			from {
				background: $color-grey-light;
			}
			to {
				background: $color-grey-lightest;
			}
		}
		background: $color-grey-lightest;
		animation: hover-animation;
		animation-duration: 0.5s;
	}
}

@mixin from($device) {
	@media screen and (min-width: $device) {
		@content;
	}
}

@mixin until($device) {
	@media screen and (max-width: $device - 1px) {
		@content;
	}
}

@mixin mobile() {
	@include until($breakpoint-mobile) {
		@content;
	}
}

@mixin desktop() {
	@include from($breakpoint-mobile) {
		@content;
	}
}

@mixin layout-horizontal-margins($margin: 12px) {
	@include desktop {
		margin-left: $margin;
		margin-right: $margin;
	}
}
