@import "../colors";

.about-large {
  display: flex;
  flex-direction: column;
  justify-content: center;
  text-align: center;
  /*background: linear-gradient(180deg, #33686C, #1B1E25);*/
  background: linear-gradient(0deg, $color-cyan-dull, $color-pink-dark);
}

.about-small {
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: center;
    background: linear-gradient(180deg, #33686C, #1B1E25);
}

.about-left {
    flex-grow: 2;
    background: rgba(39, 42, 50, 0.01);
    display: flex;
    flex-direction: column;
    justify-content: center;

    height: 100vh;
    width: 100%;
}

.about-header {
  color: $color-white;
  font-size: calc(10px + 6vmin);
  font-family: 'Segoe Print', serif;
  font-weight: bold;
}

.about-right {
    flex-grow: 1;
    /*height: 100vh;*/
    width: 100%;
    text-align: left;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-evenly;
    /*justify-content: t;*/
    /*background: #fffccf;*/
}

.about--card-container {
  width: 80%;
  display: flex;
  flex-direction: row;
  align-items: center;
  padding: 10px;

  &--image {
    margin: 4px 4px;
    width: 80px;
    height: 80px;
  }
}

.Card-item {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    align-items: center;
}

.Card-right-side-text {
    margin-left: 40px;
}


.Background-image-container {
    width: 300px ;
    display: flex;
    flex-direction: column;
    align-items: center;
}



@media only screen and (min-width: 975px) {
    .about-large {
        flex-direction: row;
    }
    .about-left {
        position: -webkit-sticky;
        position: sticky;
        top: 0;
    }
}
