.Skills {
	//display: flex;
	//flex-direction: row;
	justify-content: center;
	text-align: center;
}

.Tech-container {
	display: flex;
	flex-direction: row;
	flex-wrap: wrap;
	justify-content: center;
}

/*Grey colour of images #ededed*/
