.App {
    text-align: center;

}

.App-logo {
    animation: App-logo-spin infinite 20s linear;
    height: 40vmin;
    pointer-events: none;
}

.Job-title {
    height: 10vmin;
}

.App-header {
    background: linear-gradient(135deg, #3cdddd, #ff1ac6);
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    /*align-items: center;*/
    justify-content: center;
    font-size: calc(10px + 2vmin);
    color: white;
}

.About {
    float:left;
    width:100%;
    min-height: 300vh;
    text-align:center;
    font-family:'Pacifico', cursive;
    color:#443366;
    font-size:4vw;
    /*margin-top:40vh;*/
}

.Rhs {
    position: -webkit-sticky;
    position: sticky;
    top: 0;
    /*height: ;*/
    background-color: #3cdddd;
    width: 50%;
}

.Lhs {
    width: 50%;
    float: right;
    background-color: #3342a1;

}

.Skills {
    background-color: #5abab1;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    font-size: calc(10px + 2vmin);
    color: white;
}

.Experience {
    background-color: #5111b1;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    font-size: calc(10px + 2vmin);
    color: white;
}

.Contact {
    width: 100%;
    height: 100%;
}

.Contact-left {
    background-color: #5f1;
    content: '';
    display: inline-block;
    height: 100%;
    vertical-align: middle;
    margin-left: -5px;
}

.Contact-right {
    background-color: #ff1ac6;
}

.Scrollable {
    width: 100%;
    height: 100%;
    margin: 0;
    padding: 0;
    overflow: auto;
}

.App-link {
    color: #61dafb;
}

@keyframes App-logo-spin {
    from {
        transform: rotate(0deg);
    }
    to {
        transform: rotate(360deg);
    }
}
