@import "colors";

.App {
  display: flex;
  flex-direction: column;
  font-family: 'Roboto', sans-serif;
  /*text-align: center;*/
  user-select: none;
  color: white;
  background: #1B1E25;
}

h1 {
  color: $color-white;
  /*size: 8vh;*/
  font-size: calc(6px + 4vmin);
}

h2 {
  color: $color-white;
  font-size: calc(6px + 3vmin);
}

h3 {
  color: $color-white;
  font-size: calc(6px + 2vmin);
}

h4 {
  color: $color-white;
  font-size: calc(10px + 1.5vmin);
}

h5 {
  color: $color-white;
  font-size: calc(6px + 1vmin);
}

h6 {
  color: $color-white;
  font-size: calc(6px + 0.5vmin);
}

p {
  color: $color-white;
  font-size: calc(6px + 1vmin);
}

.Highlight-blue {
  font-weight: bold;
  color: $color-cyan;
}

.Highlight-pink {
  font-weight: bold;
  color: #ff1ac6;
}

html {
  scroll-behavior: smooth;
  transform: translate3d(0,0,0);
  -webkit-transform: translate3d(0,0,0);
  -webkit-overflow-scrolling: touch;
}






/*.App {*/
/*  text-align: center;*/
/*}*/

/*.App-logo {*/
/*  height: 40vmin;*/
/*  pointer-events: none;*/
/*}*/

/*@media (prefers-reduced-motion: no-preference) {*/
/*  .App-logo {*/
/*    animation: App-logo-spin infinite 20s linear;*/
/*  }*/
/*}*/

/*.App-header {*/
/*  background-color: #282c34;*/
/*  min-height: 100vh;*/
/*  display: flex;*/
/*  flex-direction: column;*/
/*  align-items: center;*/
/*  justify-content: center;*/
/*  font-size: calc(10px + 2vmin);*/
/*  color: white;*/
/*}*/

/*.App-link {*/
/*  color: #61dafb;*/
/*}*/

/*@keyframes App-logo-spin {*/
/*  from {*/
/*    transform: rotate(0deg);*/
/*  }*/
/*  to {*/
/*    transform: rotate(360deg);*/
/*  }*/
/*}*/
