@import "colors";

.App {
  display: flex;
  flex-direction: column;
  font-family: 'Roboto', sans-serif;
  /*text-align: center;*/
  color: white;
  background: #1B1E25;
}

.Highlight-blue {
  font-weight: bold;
  color: $color-blue;
}

.Highlight-pink {
  font-weight: bold;
  color: #ff1ac6;
}
