$color-white: #f3f3f3;

$color-blue-light: #67daff;
$color-blue: #67daff;
//$color-blue: #0288d1;

//$color-blue: #3cdddd;
$color-cyan-dull: #228686;

$color-pink: #dd22a1;
$color-pink-dull: #7b135a;

$color-grey-light: #2d313a;
$color-grey-dark: #1B1E25;
