$color-white: #f3f3f3;
$color-white-dark: whitesmoke;
$color-white-darkest: #e0e0e0;

$color-blue-light: #82dbfc;
$color-blue: #67daff;
$color-blue-dark: #4aa1bd;

$color-blue-faded: rgba(103, 218, 255, 0.42);

//$color-blue: #3cdddd;
$color-cyan-dull: #228686;

$color-pink: #dd22a1;
$color-pink-dark: #7b135a;

$color-grey-lightest: #353c3e;
$color-grey-light: #2b2e36;
$color-grey-dark: #1B1E25;
$color-grey-darkest: #131417;

$color-black: #000;
