@import "colors";

.header {
  display: flex;
  flex-direction: column;
  justify-content: center;
  width: 100vw;
  height: 100vh;
  text-align: center;
}

.highlight {
  color: $color-blue-light;
}
