@import "colors";
@import "font";

.nav {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  padding: 0 12px;
  height: 60px;
  width: 100%;
  background-color: $color-grey-darkest;
  opacity: 0.8;
  font-family: $default-font;
  border-bottom: 2px solid $color-grey-light;


  &__image {
    height: 50px;
    width: 50px;
    border-radius: 50%;
    margin: 0;
  }

  &__links {
    color: white;
    margin: 0 12px;

    &__link {
      color: $color-white;
      text-underline: none;
      text-decoration: none;
      border-bottom: none;
      margin: 0 4px;

      &:hover {
        color: $color-blue;
      }
    }
  }
}
