@import "colors";

.playground {
  margin-top: 12px;

  &__section {
    margin: 28px 0;
  }

}

.playground-cards {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  align-items: flex-end;
  justify-content: space-around;
}

.playground-card {
  padding: 8px;
  justify-content: center;
  width: 40%;
}

.highlight {
  color: $color-blue;
}
