@import "colors";

.playground {
  padding: 2em 2em;
  display: flex;
  flex-direction: column;
  align-items: center;
}

//br {
//  color: $color-grey-light;
//  border-bottom: 10px;
//  border-bottom-color: #dd22a1;
//}

.playground-cards {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  align-items: flex-end;
  justify-content: space-around;
}

.playground-card {
  //padding: 1em;
  justify-content: center;
  width: 40%;
}

.highlight {
  color: $color-blue-light;
}
