@import "colors";

.playground {
  padding: 2em 2em;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.playground-cards {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  align-items: flex-end;
  justify-content: space-around;
}

.playground-card {
  padding: 8px;
  justify-content: center;
  width: 40%;
}

.highlight {
  color: $color-blue;
}
