.projects-list-item {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  align-items: center;
  width: 80%;
  max-width: 1300px;
  margin-bottom: 48px;
  padding: 12px;


  &__details {
    display: flex;
    flex-direction: column;
    height: 100%;
    align-items: center;
    justify-content: space-around;

    @media only screen and (min-width: 975px) {
      flex-direction: row;
    }
  }

  &__technologies {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
  }

  &__image {
    object-fit: cover;
    width: 30vw;
    max-height: 400px;
    min-width: 200px;
  }
}