.project-list-item {
    @include card();
    display: flex;
    flex-direction: row;
    background-color: $color-grey-light;
    margin-bottom: 24px;
    max-width: 880px;

    &__brief {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        min-width: 240px;
        max-width: 240px;
        text-align: center;
        border-right: 1px $color-grey-lightest solid;
        padding: 4px;
    }

    &__image {
        max-width: 180px;
        max-height: 180px;
    }

    &__details {
        padding: 8px 12px;
    }

    &__technologies {
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    &__technology-item-list {
        display: flex;
        flex-direction: row;
    }
}
