@import '../colors';

:root {
  --mouse-x: 0px;
  --mouse-y: 0px;
}


.card {
  background-color: $color-grey-light;
  box-sizing: border-box;
}

.card--fancy {
  background-color: $color-grey-light;
  box-sizing: border-box;

  &:hover {
    background: radial-gradient(at var(--mouse-x) var(--mouse-y), $color-blue-dark, $color-grey-light);
    cursor: pointer;
  }
}
