@import "../colors";
@import "../font";

.nav {
    display: flex;
    flex-direction: row;
    height: 60px;
    width: 100%;
    background-color: $color-grey-light;
    align-items: center;
    justify-content: center;
    opacity: 0.8;
    font-family: $default-font;

    position: -webkit-sticky;
    position: sticky;
    top: 0;
}

.nav-link {
    color: $color-white;
    text-underline: none;
    text-decoration: none;
    border-bottom: none;

    &:hover {
        color: $color-blue;
    }
}
