@import "../base/colors";

$length: 36px;
$thickness: 4px;

.cross {
    display: inline-block;
    width: $length;
    height: $length;
    border: none;

    background: linear-gradient($color-primary-500, $color-primary-500),
    linear-gradient($color-primary-500, $color-primary-500);
    background-position: center;
    background-size: 50% $thickness, $thickness 50%; /*thickness = 2px, length = 50% (25px)*/
    background-repeat: no-repeat;
}
