@import '../colors';

.project {
  width: 70%;
  margin-bottom: 20px;
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  align-items: center;

  &--image {
    width: 60px;
    height: 60px;
    margin: 0 8px;
  }

  &--details {
    align-items: flex-start;
    text-align: left;
  }
}
